[Unit]
Description=Resize root filesystem to fit available disk space
After=systemd-remount-fs.service
ConditionFirstBoot=yes

[Service]
Type=oneshot
ExecStart=-/usr/sbin/resize-helper

[Install]
WantedBy=basic.target
