#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --fail-missing --with=systemd

override_dh_systemd_start:
	dh_systemd_start -p96boards-tools-common --no-start resize-helper.service
